:host {
  display: block;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--light);
  padding: 0 16px;
  height: 64px;
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*CHECK*/
.check {
  width: 32px;
  height: 32px;
  background-color: #2b6cee;

  -webkit-mask-image: url("/icon-button/header/check.svg");
  mask-image: url("/icon-button/header/check.svg");

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
}


/* TITLE */
h1 {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: var(--dark);
}



/* RIGHT */
.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* BUTTONS */
.config,
.profile {
  width: 44px;
  height: 36px;

  border-radius: 15px;
  cursor: pointer;

  background-color: var(--primary);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;

  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    transform 0.1s ease;
}

/* ICONS */
.config {
  background-image: url("/icon-button/header/settings.svg");
}

.profile {
  background-image: url("/icon-button/header/profile.svg");
}

/* HOVER */
.config:hover,
.profile:hover {
  background-color: var(--primary-010);
  border-color: var(--primary);
  transform: scale(1.05);
}

/* ACTIVE */
.config:active,
.profile:active {
  transform: scale(0.95);
}
